* {
     box-sizing: border-box;
    line-height: 1.6; 
}

body {
    box-sizing: border-box;
    background-color: rgba(255, 255, 102, 0.3);
    color: rgba(255, 153, 0, 0.75);
}

.apparel {
    width: 80%;
    height: 80%; 
    transition: transform .5s ease-in-out; 
}

.apparel:hover {
    
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.1);     
}

.sideSpacer {
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  width:220px;
  background-color: #ff9900;
  z-index: 2;
  transition: width 1s ease-out;
}

.sideSpacer:hover {
  width:250px;
}

.shirtnames {
    font-size: 32px !important; 
    padding-bottom: 0.5em; 
}

.sectionTitle {
    font-size: 60px !important; 
}

#contentFlex {
    height: 100vh; 
}

.flexLeft{
  height: auto;
  width:50%;
  display:flex;
  flex-direction: column;
  box-sizing: border-box;
}

.flexContainer {
  display:flex;
  position: relative; 
  margin-left: 25%; 
  margin-bottom: 2%; 
  max-width:60%;
  height:auto;
  justify-content:space-around;
  align-items:center;
  background-color: rgba(255, 153, 0, 0.5);
  box-shadow:0px 20px 250px 10px #fffdd0 inset;
  border: 3px solid #ff9900; 
  border-radius: 1%; 
}

.sliderflexContainer {
  display:flex;
  position: relative; 
  margin-left: 25%; 
  margin-bottom: 2%; 
  max-width:60%;
  height:auto;
  justify-content:space-around;
  align-items:center;
  background-color: rgba(255, 153, 0, 0.5);
  box-shadow:0px 20px 250px 10px #fffdd0 inset;
  border: 3px solid #ff9900; 
  border-radius: 1%; 
  padding:2em; 
}

.titleFlex{
  display:flex;
  margin-left:25%;
  padding:20px 0px 20px 0px; 
  width:60%;
  justify-content:space-evenly;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px; 
}

.items {
  width: 50%;
  height:100%; 
  color:black;  
  box-shadow -9px 0 12px rgba(51,51,51,0.8);
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: 'Shadows Into Light Two', cursive;
  padding: 2%; 
}

.infoflexContainer {
    
     display:flex;
  position: relative; 
  margin-left: 25%; 
  margin-bottom: 2%; 
  max-width:60%;
  height: auto; 
  color:black; 
  justify-content:space-around;
  align-items:center;
  background-color: rgba(255, 153, 0, 0.5);
  box-shadow:0px 20px 250px 10px #fffdd0 inset;
  border: 3px solid #ff9900; 
  border-radius: 1%;  
}

.infoflexContainer p {
  padding: 1em; 
  font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}

.intextimage{
    padding: 1em;
    max-width:150px;
    max-height:150px; 
}

.logotext {
  max-width: 70%; 
}

.itemBtn {
   width: 25%; 
   background-color: white; 
   color:black; 
   font-family: 'Work Sans', sans-serif;
   padding: 1em; 
   border-radius: 10px 10px 10px 10px;
   -moz-border-radius: 10px 10px 10px 10px;
   -webkit-border-radius: 10px 10px 10px 10px;
   transition: box-shadow 0.3s, color 0.2s ease-in-out; 
}

.itemBtn:hover{
 -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
 -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
 box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);  
}

.itemBtn > a {
    text-decoration: none;
    color: gray;
    font-size: 18px; 
}

.itemBtn > a:hover {
    color:black; 
}

#logoCont{
  margin:0 auto;
  width:100%;
}

#logoCont{
  font-weight: bold;
  width: 100%;
  opacity: 0.8;
  color:white;
  transition: width 2s, opacity 0.5s ease-in;
}

#logoCont:hover {
  opacity: 1;
  filter: alpha(opacity=0.5);
}

#logo{
    max-width: 94%;  
    margin-left:3%; 
    margin-right:3%; 
    margin-top: 5%;
}

#logoText {
  text-align: center; 
}

#navWrapper {
    margin-top: 35px; 
}

#navWrapper ul li:hover {
  opacity: 1;
  filter: alpha(opacity=0.5);
  background-color: rgba(255, 74, 1, 0.54); 
}

#navWrapper ul {
    margin: 0 auto; 
    width:96%; 
}

#navWrapper ul li {
    text-align: center;
    margin: 10px 5px 10px 0px;
    padding: 1%; 
    color:white;
    opacity: 0.6;
    transition: background-color 0.25s, opacity 0.25s ease-in;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    width:98%; 
    font-size: 22px;
    font-family: 'Shadows Into Light Two', cursive;
}
 
.itemdetails {
    padding: 1%; 
    font-size: 24px; 
}

.icon {
    max-width: 80%; 
    margin: 0 auto; 
}

#smWrap { 
    position: absolute;
    bottom: 20px; 
    left:0; 
    width:100%; 
}

#smItems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#smItems li{ 
    text-align: center; 
    opacity: 0.6; 
    width:66px;
    margin-bottom: 10px;
    transition: width 2s, opacity 0.25s ease-in;
}

#smItems li:hover {
    opacity: 0.9;
}




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.jssorl-009-spin img{animation-name:jssorl-009-spin;animation-duration:1.6s;animation-iteration-count:infinite;animation-timing-function:linear}@keyframes jssorl-009-spin{from{transform:rotate(0);}to{transform:rotate(360deg);}}.jssorb031{position:absolute}.jssorb031 .i{position:absolute;cursor:pointer}.jssorb031 .i .b{fill:#000;fill-opacity:.5;stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:.3}.jssorb031 .i:hover .b{fill:#fff;fill-opacity:.7;stroke:#000;stroke-opacity:.5}.jssorb031 .iav .b{fill:#fff;stroke:#000;fill-opacity:1}.jssorb031 .i.idn{opacity:.3}