#parentCont {
  display: flex;
  flex-direction:row;
  align-content:center;
  width: 100%;
  height: 900px;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
}

.sideSpacer {
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  height:100vh;
  width:200px;
  background-color: #ff9900;
  z-index: 2;
  transition: width 2s ease-out;
}

.sideSpacer:hover {
  width:250px;
}

.flexLeft{
  height: auto;
  width:50%;
  display:flex;
  flex-direction: column;
  box-sizing: border-box;
}

.flexContainer {
  display:flex;
  margin-left: 25%; 
  width:1050px;
  height:425px;
  justify-content:space-around;
  align-items:center;
  background-color: rgba(255, 153, 0, 0.75);
}

.titleFlex{
  display:flex;
  margin-left:5%;
  padding-top:1%;
  width:1050px;
  margin: 0 auto;
  justify-content:space-evenly;
}

.items {
  background-color: blue;
  width: auto;
}

#logoCont{
  margin:0 auto;
  width:100%;
}

#logoCont{
  font-weight: bold;
  width: 100%;
  opacity: 0.6;
  color:white;
  transition: width 2s, opacity 0.5s ease-in;
}

#logoCont:hover {
  opacity: 1;
  filter: alpha(opacity=0.5);
}

#logo{
    max-width: 94%;  
    margin-left:3%; 
    margin-right:3%; 
    margin-top: 5%;
}

#logoText {
    text-align: center; 
}

#navWrapper {
    margin-top: 100px; 
}

#navWrapper ul li:hover {
  opacity: 1;
  filter: alpha(opacity=0.5);
  background-color: #FF4A01; 
}

#navWrapper ul {
    margin: 0 auto; 
    width:96%; 
}

#navWrapper ul li {
    text-align: center;
    margin: 10px 5px 10px 0px;
    padding: 1%; 
    color:white;
    opacity: 0.6;
    transition: width 2s, background-color 2s, opacity 0.5s ease-in;
    border-radius: 35%; 
    width:98%; 
    font-size: 22px;
}

.icon {
    max-width: 90%; 
    margin: 0 auto; 
}

#smWrap { 
    position: absolute;
    bottom: 20px; 
    left:0; 
    width:100%; 
}

#smItems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#smItems li{ 
    text-align: center; 
    opacity: 0.6; 
    width:66px;
    margin-bottom: 10px;
    transition: width 2s, opacity 0.5s ease-in;
}

#smItems li:hover {
    opacity: 0.9;
}




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
